*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Catamaran', sans-serif;
    line-height: 1;
}

:root {
    --clr: #d02626;
}

html {
    scroll-behavior: smooth;
  }
  

.nav-logo img {
    width: 150px;
    line-height: 100%
}
.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 24px 0 0;
}

nav {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    width: 100%;
    z-index: 10;
    box-shadow: 2px 0 10px rgba(0,0,0,.8);
    transition: all 400ms ease-in-out;
  }
  .nav-links {
    list-style: none;  
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 60%;
    background-color: #111;
    top: 0;
    right: 0;
    padding-top: 50px;
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
  }
  .nav-active {
    transform: translateX(0);  
  }
  .nav-links a {  
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 800;
  }
  .nav-links a:hover {
    color: var(--clr);
  }
  .burger {
    z-index: 11;
    margin-right: 24px;
  }
  .burger div {
    width: 28px;
    height: 5px;
    background-color: #222;
    margin: 3px 0;
    transition: all 400ms ease-in-out;
    cursor: pointer;
  }
  /* ------------------- Burger Animation ------------------- */
  .animation .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #fff;
  }
  .animation .line2 {
    opacity: 0;
  }
  .animation .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #fff;
  }

.nav-contact {
    width: 80px;
    height: 80px;
    background-color: #2626D0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-contact a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
}
/* ----------------------------- HEADER  ----------------------------- */
.header {
    position: relative;
    width: 100%;
    height: 100vh;
    padding-top: 80px;
    background-image: url('img/mobile-design\ projects\ bg.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}
.illustration {
    position: absolute;
    width: 300px;
    margin: 10px auto;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
}

.text-box {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 350px;
    margin: 10px auto;
    text-align: center;
}
.text-box h1{
    font-size: 33px;
    font-weight: 900;
    font-style: italic;
    color: #1A1A1A;
    margin-bottom: 5px;
}
.text-box p {
    font-size: 20px;
    font-weight: 500;
}
.buttons {
    margin: 20px 0;
}
.buttons button {
    padding: 8px 20px;
    margin: 5px;
    font-size: 16px;
    border: none;
    border-radius: 50px;
    font-weight: 800;
}
.buttons button:nth-child(1) {
    background-color: rgba(255,255,255,.4);
    color: #111;
}
.buttons button:nth-child(1) a{
    color: #111;
    text-decoration: none;
}


.buttons button:nth-child(2) {
    background-color: var(--clr);
}
.buttons button:nth-child(2) a{
    color: #fff;
    text-decoration: none;
}

.buttons button:nth-child(2):hover {
    background-color: #2626D0;
}
.buttons button:nth-child(1):hover {
    background-color: #111;
}
.buttons button:nth-child(1):hover a{
    color: #fff;
}

/* ----------------------------- Logos  ----------------------------- */

.projects {
    padding: 50px 10%;
}

.title {
    text-align: center;
    font-size: 40px;
    margin: 70px 0;
    font-weight: 800;
}

.logos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px, 300px));
    place-content: center;
    place-items: center;
}

.logo {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
}
.logo img {
    width: 100%;
}

.overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(36, 150, 226, 0.7);
    z-index: 1;
    transition: transform 160ms ease-in-out;
    transform: translateY(100%);
}
.overlay p {
    font-size: 22px;
    font-weight: 900;
    margin: 15px;
    line-height: 1;
}
.overlay button {
    position: absolute;
    font-size: 20px;
    border: none;
    color: #000;
    background: none;
    font-weight: 700;
    bottom: 40px;
    left: 15px;
}
button i {
    font-size: 16px;
    transition: transform 200ms ease-in;
}
.overlay button::after {
    content: '';
    display: block;
    height: 3px;
    width: 100%;
    background-color: #000;
}
.overlay button:hover {
    color: #fff;
}
.overlay button:hover::after {
    background-color: #fff;
}

.logo:hover .overlay {
    transform: translateY(0);
}
/* ----------------------------- Logos  ----------------------------- */
/* ----------------------------- Business Card  ----------------------------- */

.business-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px, 300px));
    place-content: center;
    place-items: center;
    grid-gap: 10px;
}


.card-container {
    position: relative;
    width: 188px;
    height: 340px;
    perspective: 700px;
}
.card {
    position: absolute;
    height: 100%;
    width: 100%;
    transform-style: preserve-3d;
    transition: all 400ms ease-in-out;
}
.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
}

.back {
    transform: rotateY(-180deg);
}

.card-container:hover .card{
    transform: rotateY(-180deg);
}





/* ----------------------------- Business Card  ----------------------------- */

/* ----------------------------- Business Card  ----------------------------- */

.t-shirts-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, 
    minmax(300px, 300px));
    place-content: center;
    place-items: center;
    grid-gap: 10px;
}


.t-card {
    width: 300px;
    height: 300px;
}
.t-card img {
    width:100%;
}
.t-card:hover img {
    border-radius: 0%;
}


/* ----------------------------- Business Card  ----------------------------- */













@media (min-width: 768px) {
    .nav-logo img {
        width: 250px;
        line-height: 100%;
    }

    .nav-links {
        width: 40%;
    }


    .text-box {
        width: 450px;

    }
    .text-box h1{
        font-size: 45px;
    }
    .text-box p {
        font-size: 25px;
    }
}    

@media (min-width: 992px) {
    .header {
        background-image: url('img/desk-design\ projects\ bg.jpg');
    }
    .illustration {
        width: 450px;
        padding-top: 80px;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
    }
    
    .text-box {
        padding-top: 80px;
        left: 25%;
        top: 15%;
        width: 500px;
        text-align: initial;
    }
    .text-box h1{
        font-size: 50px;
        font-weight: 900;
        font-style: italic;
        color: #1A1A1A;
        margin-bottom: 5px;
    }
    .text-box p {
        font-size: 30px;
        font-weight: 500;
    }
    .buttons button {
        font-size: 18px;
    }
}

@media (min-width: 1920px) {
    .illustration {
        width: 650px;
    }
    
    .text-box {
        width: 700px;
    }
}