*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1;
}
:root {
    --clr: #d02626;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Catamaran', sans-serif;
    overflow-x: hidden;
}

.logo img {
    width: 150px;
    line-height: 100%;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 7px 24px 0 0;
}

nav {
    position: fixed;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 80px;
    width: 100%;
    z-index: 10;
    box-shadow: 2px 0 10px rgba(0,0,0,.8);
    transition: all 400ms ease-in-out;
  }
  .nav-links {
    list-style: none;  
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 60%;
    background-color: #111;
    top: 0;
    right: 0;
    padding-top: 50px;
    transform: translateX(100%);
    transition: transform 400ms ease-in-out;
  }
  .nav-active {
    transform: translateX(0);  
  }
  .nav-links a {  
    text-decoration: none;
    color: white;
    font-size: 22px;
    font-weight: 800;
  }
  .nav-links a:hover {
    color: var(--clr);
  }
  .burger {
    z-index: 11;
    margin-right: 24px;
  }
  .burger div {
    width: 28px;
    height: 5px;
    background-color: #222;
    margin: 3px 0;
    transition: all 400ms ease-in-out;
    cursor: pointer;
  }
  /* ------------------- Burger Animation ------------------- */
  .animation .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
    background-color: #fff;
  }
  .animation .line2 {
    opacity: 0;
  }
  .animation .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
    background-color: #fff;
  }

.nav-contact-mobile {
    width: 80px;
    height: 80px;
    background-color: #2626D0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-contact-mobile a {
    text-decoration: none;
    color: #fff;
    font-size: 32px;
}
.nav-contact-desk {
    display: none;
}

/* HEADER ----------------------------------------------------- */

.header {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding-top: 80px;
    background-color: #fff;
}
#scroll {
    position: absolute;
    bottom: 80px;
    pointer-events: none;
    width: 100px;
}

.header__illustration {
  position: absolute;
  width: 300px;
  margin: 10px auto;
  top: 70px;
  right: 0;
}
.header__text {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  width: 350px;
   margin: 10px auto;
  text-align: center;
}
.header__text h1 {
  color: #d02626;
  font-size: 35px;
  font-weight: 800;
}
.header__text p {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 500;
  color: #888;
}

.header__links {
  position: absolute;
  bottom:  10px;
  display: flex;
}

/* HEADER ----------------------------------------------------- */
/* About ----------------------------------------------------- */

.about-container {
    padding: 70px 50px;
}

.about:nth-child(1) {
    margin-bottom: 50px;
}
.about__title {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #111;
}
.about__title h2{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 5px;
}
.about__title p {
    font-size: 20px;
    font-weight: 600;
    color: #666;
}

.about__text p {
    font-size: 18px;
    font-weight: 700;
    color: #111;
    text-align: center;
}
.text2 p {
    margin: 15px 0;
}
span {
    color: #2626D0;
}

/* Portfolio ----------------------------------------------- */
.portfolio-container {
    padding-bottom: 70px;
    width: 100%;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: #222;
    color: #fff;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
  }
  .main p {
    padding-left: 25px;
    line-height: 100%;
  }
  .plus {
    background-color: var(--clr);
    width: 60px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 38px;
    transition: all 300ms ease-in;
    cursor: pointer;
  }
  .icon {
    transform: rotate(45deg);
    transition: all 300ms ease-in;
    color: #222;
  }
  
  .first,
  .second {
    position: relative;
    width: 300px;
    height: 60px;
    background-color: #333;
    font-size: 25px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 300ms ease-in;
  }
  .first:hover,
  .second:hover {
    background-color: #111;
  }

  .first a,
  .second a {
    color: #fff;  
    text-decoration: none;
  }

  .first {
    transform: translateY(-100%);
    opacity: 1;
    z-index: 2;
  }
  .second {
    transform: translateY(-200%);
    z-index: 1;
    opacity: 1;
    background-color: #444;
  }
  .first-active {
    transform: translateY(0);
    opacity: 1;
  }
  .second-active {
    transform: translateY(0);
    opacity: 1;
  }
  .icon-animation {
    transform: rotate(-90deg);
    color: #fff;
  }
  .plus-animation {
    background-color: #999;
  }



footer {
    min-height: 120px;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer__content img {
    width: 50px;
  }
.footer__content p {
      color: #fff;
      font-size: 18px;
  }
  


















  @media (min-width: 1500px) {
    .nav-links {
      width: 30%;
} 
  }



  @media (min-width: 768px) {
    .wrapper {
      max-width: 1920px;
      margin: auto;
  }

  .logo img {
    width: 270px;
    line-height: 100%;
}
  .logo {
  margin: 7px 125px 0 0;
}

  .nav-links {
      width: 40%;
}   


.nav-contact-mobile {
  display: none;
}
.nav-contact-desk {
  display: initial;
}

.nav-contact-desk {
  width: 200px;
  height: 80px;
  background-color: #2626D0;
}
.nav-contact-desk a {
  text-decoration: none;
  color: #fff;
  font-size: 26px;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
.nav-contact-desk a:hover {
  color: #999;
}



  
  /* HEADER ----------------------------------------------------- */



  /* HEADER ----------------------------------------------------- */

/* About ----------------------------------------------------- */

.about-container {
  padding: 70px 30px;
}

.about {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-gap: 10px;
  max-width: 900px;
  margin: auto;
}

.about__text p {
  font-size: 22px;
  font-weight: 700;
  color: #222;
}

.about__title {
  display: initial;
}

.second-title {
  margin-top: 40px;
}
.about__text p {
  text-align: initial;
}


/* Portfolio ----------------------------------------------- */
.portfolio-container {
  justify-content: flex-start;
  padding-left: 10%;
  min-height: 200px;
}
.portfolio {
  display: flex;
}
.main {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }
  .main p {
    padding-left: 15px;
  }

  .plus {
    width: 50px;
  }
  
  .first,
  .second {
    width: 200px;
    height: 50px;
    font-size: 20px;
  }



  .first {
    transform: translateX(-100%);
  }
  .second {
    transform: translateX(-200%);
  }
  .first-active {
    transform: translateX(0);
  }
  .second-active {
    transform: translateX(0);
  }
  .icon-animation {
    transform: rotate(-90deg);
  }






}